In [1]:
%env LOG_LEVEL=INFO

env: LOG_LEVEL=INFO

In [2]:
# If you have used `python setup.py install`, skip this cell.
# If you plan to debug from source code, first run `pip uninstall guidance``, then run this cell.
import sys
sys.path.insert(0,"/home/zt/workspace/guidance-tgi")

In [3]:
import guidance

from format_template import format_output

start to install package: redis
successfully installed package: redis
start to install package: redis-om
successfully installed package: redis-om

/home/zt/workspace/guidance-tgi/.venv/lib/python3.10/site-packages/pydantic/_internal/_fields.py:128: UserWarning: Field "model_id" has conflict with protected namespace "model_".

You may be able to resolve this warning by setting `model_config['protected_namespaces'] = ()`.
  warnings.warn(
/home/zt/workspace/guidance-tgi/.venv/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [4]:
plot_types = ["Area","Bar","Line","Barh","Box","Density","Hist","Pie","Scatter"]
template = format_output()
input_template = "{{system}}USER: {{description}} ASSISTANT:" + template

In [5]:
model_path = "/home/zt/workspace/guidance/models/ckpt_100"
from transformers import AutoTokenizer,AutoConfig
tokenizer = AutoTokenizer.from_pretrained(model_path)

In [6]:
# import importlib
# importlib.reload(guidance)

In [7]:
from guidance.llms import TGIModel

In [8]:
model = TGIModel(config=AutoConfig.from_pretrained(model_path))

guidance.llm = guidance.llms.Transformers(model=model, plot_type=plot_types, tokenizer=tokenizer,tgi=True)

In [9]:

character_maker = guidance(input_template)

In [10]:
%%time
system = "Now that you are a data analyst. Your job is to answer questions about a database. You are given a question and context regarding one or more tables.\nThe database information is as follows:\nDatabase Name: Standard_parameters\n\nTable Name0: \"Standard_parameters\"\nTable Data0 is as follows:\nCREATE TABLE \"Standard_parameters\" (\"Region\" ENUM(\"Austria (BEV)\", \"England , Scotland , Wales\", \"Germany\", \"Ireland\", \"Slovenia ETRS89\"), \"Start datum\" ENUM(\"D48\", \"WGS84\"), \"Target datum\" ENUM(\"Bessel 1841\", \"D96\", \"DHDN\", \"Ireland 1965\", \"Krassovski 1940\", \"MGI\", \"OSGB36\"), \"c_x ( Metre )\" ENUM(\"409.545\", \"−24\", \"−446.448\", \"−482.53\", \"−577.326\", \"−582\", \"−591.28\"), \"c_y (Metre)\" ENUM(\"123\", \"125.157\", \"130.596\", \"72.164\", \"−105\", \"−81.35\", \"−90.129\"), \"c_z (Metre)\" ENUM(\"486.872\", \"94\", \"−396.39\", \"−414\", \"−463.920\", \"−542.06\", \"−564.557\"), \"s ( ppm )\" ENUM(\"17.919665\", \"20.4894\", \"−1.1\", \"−2.423\", \"−8.15\", \"−8.3\", \"−9.82\"), \"r x ( Arcsecond )\" ENUM(\"1.042\", \"1.4770\", \"5.137\", \"−0.02\", \"−0.1502\", \"−1.04\", \"−3.085957\"), \"r y ( Arcsecond )\" ENUM(\"0.214\", \"0.26\", \"1.474\", \"−0.0736\", \"−0.247\", \"−0.35\", \"−5.469110\"), \"r z ( Arcsecond )\" ENUM(\"0.13\", \"0.631\", \"11.020289\", \"3.08\", \"5.297\", \"−0.8421\", \"−1.4580\"));\n\nDatabase Connection Relationships: []\n\n\n"

description = "绘制一个直方图，其中x轴为c_x ( Metre )"

out = character_maker(system=system, description=description,silent=True,log=True, temperature=0.01)

CPU times: user 446 ms, sys: 15.7 ms, total: 462 ms
Wall time: 5.43 s

In [12]:
out.text

'Now that you are a data analyst. Your job is to answer questions about a database. You are given a question and context regarding one or more tables.\nThe database information is as follows:\nDatabase Name: Standard_parameters\n\nTable Name0: "Standard_parameters"\nTable Data0 is as follows:\nCREATE TABLE "Standard_parameters" ("Region" ENUM("Austria (BEV)", "England , Scotland , Wales", "Germany", "Ireland", "Slovenia ETRS89"), "Start datum" ENUM("D48", "WGS84"), "Target datum" ENUM("Bessel 1841", "D96", "DHDN", "Ireland 1965", "Krassovski 1940", "MGI", "OSGB36"), "c_x ( Metre )" ENUM("409.545", "−24", "−446.448", "−482.53", "−577.326", "−582", "−591.28"), "c_y (Metre)" ENUM("123", "125.157", "130.596", "72.164", "−105", "−81.35", "−90.129"), "c_z (Metre)" ENUM("486.872", "94", "−396.39", "−414", "−463.920", "−542.06", "−564.557"), "s ( ppm )" ENUM("17.919665", "20.4894", "−1.1", "−2.423", "−8.15", "−8.3", "−9.82"), "r x ( Arcsecond )" ENUM("1.042", "1.4770", "5.137", "−0.02", "−0.1502", "−1.04", "−3.085957"), "r y ( Arcsecond )" ENUM("0.214", "0.26", "1.474", "−0.0736", "−0.247", "−0.35", "−5.469110"), "r z ( Arcsecond )" ENUM("0.13", "0.631", "11.020289", "3.08", "5.297", "−0.8421", "−1.4580"));\n\nDatabase Connection Relationships: []\n\n\nUSER: 绘制一个直方图，其中x轴为c_x ( Metre ) ASSISTANT:[{"input": ["Standard_parameters"],"command": "Hist","command_args": {"x": ["c_x ( Metre )"],"y": "null", "transpose": false},"output": []}]'